.round-Image{
    -fx-background-radius: 20px;
}

.tool-bar{
    -fx-background-color: #00BCD4;
}

.btn{
    -fx-background-color: transparent;
}

.btn:hover{
    -fx-background-color: #0097A7;
}

.round-Text{
    -fx-background-color: #FF5722;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-padding: 3px;
    -fx-text-fill: WHITE;
}

.main-btn{
    -fx-background-color: #0097A7;
}

.anchorPane{
    -fx-background-color: WHITE;
}